*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right bottom,rgba(157, 243, 45, 0.8),
     rgba(25, 153, 228, 0.8)), url(servicebus.png);
}

.textbox{
    text-align: center;
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,50%);
}
